.container {
    width: 50%;
}

fieldset {
    background-color: rgba(105, 225, 247, 0.6);
}

table th {
    background-color: rgba(105, 225, 247, 0.3);
    width: 20%;
}

table td {
    background: white;
    width: 20%;
    text-align: center;
}

select {
    width: 100%;
}

#nilai {
    width: 97%;
}